<main>
    <h3>What would you like to search?</h3>
    
    <h3>Search by</h3>
    <fieldset>
      <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>
        <!-- Radio button for Title -->
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>

        <!-- Radio button for Author -->
        <label for="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
        </label>

        <button type="submit">Find My Book</button>
      </form>
    </fieldset>
  </main>
