@media only screen and (max-width: 768px) {
  /* For mobile */
  body {
    width: 100%;
    align-items: center;
  }
}

body {
  background-color: rgba(86, 86, 106, 0.228);
}

h4 {
  color: red;
}

h1 {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* text-align: center; */
  list-style: none;
  padding: 25px;
  background-color: cyan;
}

li > #title-head {
  font-size: 30px;
}

#author-head {
  font-size: 20px;
}


